KabelWeb/Web References/dk.de-prod.osi1046/ServiceProxy.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://osi1046.de-prod.dk:6572/ditgadelys/ServiceProxy.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/InformiGIS.SML.Services" />
  <xs:element name="CreateNotification">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/InformiGIS.SML.Services" minOccurs="0" name="notificationDocument" nillable="true" type="q1:NotificationDocument" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateNotificationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/InformiGIS.SML.Services" minOccurs="0" name="CreateNotificationResult" nillable="true" type="q2:NotificationResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>